* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'poppins';
}

.section-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.section-containerLogin {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
  margin-bottom: 100rem;
}

.perfilUser {
 display: flex;
 align-items: center;
 margin: 0.2rem;
 margin-bottom: 2rem;
}

.diasDaSemana {
  display: flex;
  justify-content: space-around;
}
.diasDaSemana span {
  background-color: darkorange;
  max-width: 50px;
  cursor: pointer;
  padding: .5rem;
}

.personal {
  display: flex;
  margin-top: 5rem;
}


.personal img {
  max-width: 80px;
  border-radius: 100%;
}

.treinosCard {
  display: flex;
  flex-direction: column-reverse;
}
.treinos {
  display: flex;
  overflow: scroll;
}

.treinos img{
  max-width: 80px;
  border-radius: 1px solid gray;
}

.seguidores {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightblue;
}

.publicacoes {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}

.publicacoes img {
  max-width: 100%;
}

.perfilUser img {
 max-width: 70px;
 border-radius: 100%;
 border: 2px solid lightsteelblue;
}

.titulo {
  font-size: 2rem;
  color: darkorange;
  font-weight: bold;
  letter-spacing: 0.125rem;
}

.loginImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.dumbell {
  max-width: 50px;
}

.loginCard {
  display: flex;
  flex-direction: column;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}

.socialIcon {
  margin: 0.8rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 15px;
  display: flex;
  cursor:pointer;
  background-color: lightsteelblue;
  transition: 0.3s ease-in-out;
}

.socialIcon:hover {
  transform: scale(1.1);
}

.socialIcon img {
  max-width: 20px;
}


input {
  padding: 0.8rem 1rem;
  margin: 0.2rem 0;
  border: 0.5px solid grey;
  border-radius: 12px;
  font-size: 1.025rem;
}

.esqueceuSenha {
  color: lightslategray;
  text-decoration: underline;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  background-color: darkorange;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.125rem;
  color: white;
  margin-bottom: 2rem;
  margin-top: 1rem;
}




.navBar{
  display: flex;
  max-width: 90%;
  padding: 0.2rem;
  margin: 0 auto;
  justify-content: space-around;
  border-top: 1px solid lightsteelblue;
}

.navBar img {
  width: 30px;
}

.postInteractions {
  display: flex;
  justify-content: space-around;
}

.postInteractions img {
  max-width: 30px;
}

.postUser {
  display: flex;
  margin: 0.2rem 1rem;
}
.postUser p {
  margin-left: 1rem;
}
.postUser img {
  max-width: 30px;
  border-radius: 100%;
}

.postPrincipal {
  max-width: 300px;
  background-color: aliceblue;
}


